---
permalink: /stronz/
---
<style>
/*
@font-face {
font-family: 'Gagalin Regular';                     
src: url('fonts/Gagalin-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}             
*/
@font-face{font-family:gagalin;font-style:normal;font-weight:400;src:local('Gagalin'),url('/fonts/Gagalin-Regular.woff') format('woff')}


@font-face {                   
font-family: 'caz';
src: url('/fonts/CourierPrime-Bold.ttf') format('truetype');
}
h1 {
	font-size: 82px;
font-family: 'gagalin';                     
}
</style>

<h1>Archive</h1>

