---
title: Take responsability.
layout: layouts/home.njk
description: Take responsability
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  This is a demo website based on 
  <a href="https://www.industrialempathy.com/posts/eleventy-high-performance-blog/">eleventy-high-performance-blog</a>.
</p>

<div id="posts">
  <h4>Episodi</h4>


  <iframe width="560" height="315" src="https://www.youtube.com/embed/KygDdSZbGZk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/0omopZaWpKo5ZZ9umHxWko?utm_source=generator&theme=0&t=1" width="100%" height="102" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
